.stake-head {
  background: #000000;
  padding: 50px 20px; 
}
.head-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  margin-bottom: 20px;
}

.right-head {
  display: flex;
  align-items: center;
  color: aliceblue;
}

.head-tab {
  display: flex;
  border: 1px solid #3d3d3d;
  border-radius: 40px;
}

.head-tab button {
  padding: 7px 15px;
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #bf6d0a;
  transition: 0.5s;
  border-radius: 20px;
}

.left-head {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-head label {
  display: block;
  font-size: 12px;
  color: #bf6d0a;
  font-weight: 500;
  padding-bottom: 3px;
}

.list,
.grid {
  fill: #bf6d0a;
}

.select-wrapper {
  /* padding: 5px; */
  background: #000000;
  color: #bf6d0a;
  font-size: 16px;
}

.select-control {
  position: relative;
}

.views-btn {
  display: flex;
  gap: 10px;
  margin-right: 50px;
}

.staked-only {
  margin: 0 20px;
  color: #bf6d0a;
}

.selector {
  color: #f49d18;
  height: 40px;
  border: 1.5px solid #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  padding: 0 15px;
  border-radius: 15px;
}

/* When Option is Open */
.selector-option-open {
  border-radius: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: border-radius 0.15s ease 0s;
}

.select-icon {
  fill: #f49d18;
}

.option-wrapper {
  position: absolute;
  background: #000000;
  left: 0;
  height: 0;
  overflow: hidden;
  width: 100%;
  border-right: 1.5px solid #3d3d3d;
  border-left: 1.5px solid #3d3d3d;
  border-bottom: 1.5px solid #3d3d3d;
  transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
  transform: scaleY(0);
  opacity: 0;
  transform-origin: center top;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.open-option {
  height: 135px;
  transform: scaleY(1);
  opacity: 1;
  transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
}

.option-wrapper ul {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.options {
}

.options li {
  color: #f49d1a;
  list-style-type: none;
  cursor: pointer;
  padding: 10px;
  transition: hover 0.15s ease 0s;
}

.options li:hover {
  background-color: #3d3d3d;
  transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
}

.search-input input:focus {
  border: 2px solid #bf6d0a;
  outline: 2px solid #19390a;
}

.search-input input {
  height: 40px;
  border: 1.5px solid #3d3d3d;
  border-radius: 15px;
  background: #000000;
  padding-left: 10px;
  font-size: 16px;
  color: #f49d1a;
}

.search-input input::placeholder {
  color: #492c0a;
}

.active-head-tab {
  background: #f1bb13 !important;
  border-radius: 20px;
  color: aliceblue !important;
  font-weight: 500;
}

@media screen and (max-width: 835px) {
  .head-wrapper {
    padding: 0 0 20px 0;
    flex-wrap: wrap;
    
  }

  .right-head {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
  }

  .left-head {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }

  .selector {
    width: 100%;
  }

  .select-control {
    width: 100%;
  }

  .search-input {
    width: 100%;
  }

  .search-input input {
    width: 100%;
  }

  .select-wrapper {
    width: 100%;
  }

  .head-tab {
    width: 100%;
  }

  .head-tab button{
    width: 50%;
  }

  .views-btn{
    margin-bottom: 15px;
  }
}

.text {
  transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
}
