.modal {
  position: fixed;
  top: 50px;
  width: 100%;
  background: #3d3d3d95;
}

.modal-wrapper {
  background-color: #000000;
  width: 420px;
  margin: 0 auto;
  padding: 30px;
  color: #ffffff;
  border-radius: 30px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.modal-header h6 {
  font-size: 20px;
}

.sect h5 {
  font-size: 12px;
  color: #f2bb13;
  margin: 20px 0;
}

.sect p {
  margin-bottom: 15px;
}

.tooltip {
  fill: aliceblue;
}

.global {
  padding-bottom: 20px;
  border-bottom: 1.5px solid #3d3d3d;
}

.global button {
  border: none;
  font-size: 16px;
  padding: 5px 20px;
  border-radius: 20px;
  background: transparent;
  color: #f2bb13;
  background: #3d3d3d;
}

.close-btn{
  cursor: pointer;
}

.global-btns {
  display: flex;
  gap: 10px;
}

.swaps h5 {
  padding: 20px 0;
}

.swaps-btns {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.random {
  display: flex;
  align-items: center;
}

.random input {
  color: #f2bb13;
  margin-right: 5px;
  background: #000000;
  border: 2px solid #3d3d3d;
}

.swaps-btns div {
  flex: 1;
}

.swaps-btns div input {
  width: 100%;
  padding: 5px 0;
  border-radius: 20px;
 
  font-size: 16px;
  padding-left: 10px;
}

.swaps-btns input[type= 'submit'] {
  background: #3d3d3d;
  color: #f2bb13;
   border: none;
  
}

.percentage {
  color: #f2bb13;
}

.modal-row {
  margin-bottom: 20px;
}

.deadline {
  display: flex;
  justify-content: space-between;
}

.flippy-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flippy-toggle{
  background: #f2bb13; 
  height: 32px;
  border-radius: 20px;
  width: 60px;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}

.flippy-toggle-btn{
   background: #3d3d3d;
   position: absolute;
   left: 0;
   width: 30px;
   height: 100%;
   border-radius: 50%;
   scale: 0.8;
   transition: 0.3s;
   cursor: pointer;
}

.toggle-flip .flippy-toggle-btn{
  left: 30px;
  border: 2px solid #f2bb13;
}

.toggle-flip.flippy-toggle{
  background: #000000; 
}



@media screen and (max-width: 835px) {
  .modal-wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .modal-wrapper {
    width: 100%;
  }

  input {
    width: auto;
  }

  .global button {
    font-size: 12px;
  }
}
