.navbar{
 position: sticky;
}
.nav-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 30px;
  background: #732C02;
}

.nav-link {
  text-decoration: none;
  color: #bf6d0a;
}

.nav-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #bf6d0a;
}

.nav-right span {
  font-weight: 500;
}

.logo {
  text-decoration: none;
  margin-right: 40px;
  color: #f2bb13;
}

.nav-list {
  display: flex;
  gap: 25px;
}

.connect {
  background: #f2bb13;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  color: #ffff;
  border-radius: 20px;
}

.word-icon,
.setting-icon {
  font-size: 20px;
}

.active {
  background: #f2bb13;
  color: #ffff;
  padding: 0 10px;
  border-radius: 20px;
}

.link-icon {
  display: none;
}

.setting-icon path, .word-icon path{
 fill: #bf6d0a;
}

@media screen and (max-width: 835px) {

  .logo{
   font-size: 14px;
  }
  .nav-wrapper {
    padding: 10px 10px;
  }

  .logo {
    margin-right: 15px;
  }

  .nav-right {
    gap: 5px;
  }

  .nav-list {
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background: #732C02;
  }

  .link-icon {
    display: block;
    color: #bf6d0a;
    
  }

  .nav-link{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 10px;
  }

  .link-icon path{
   fill: #bf6d0a;
  }

  .nav-link span {
   
  }

  .active{
   background: transparent;
   color:#f2bb13;
   padding: 0;
  }

  .active .link-icon path{
   fill: #f2bb13;
  }
}
