.finished {
 
}

.finished-wrapper {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.finished-wrapper p{
 padding-bottom: 50px;
 color: #bf6d0A;
}

.to-top button {
  border-right: 2px solid #3d3d3d;
  border-top: 2px solid #3d3d3d;
  border-left: 2px solid #3d3d3d;
  border-bottom: 5px solid #3d3d3d;
  display: block;
  width: 100%;
  background-color: transparent;
  color: #BB1111;
  padding: 20px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 0.3s;
}

.to-top button:hover{
 border-bottom: 2px solid #3d3d3d;
 border-top: 5px solid #3d3d3d;
}

.accordup{
 fill: #BB1111;
}

@media screen and (max-width: 480px) {
  .finished-wrapper{
   padding: 50px 20px;
  }

 
}