@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Ubuntu';
 /*  background: #3F7327; */
  background: linear-gradient( #19390a 0%,#3F7327 100%);
  position: relative;
}